<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script>
        $(function(){
            printClock()                
        })

        function printClock(){
            var clock =  $("#time")
            var date = new Date();

            var year = date.getFullYear();
            // console.log(year)
            var day = (date.getMonth()+1)+" / "+(date.getDate());
            // console.log(day)

            var amPm = "AM"
            var Hours = addZeros(date.getHours(),2)
            var Minutes = addZeros(date.getMinutes(),2)
            var Seconds = addZeros(date.getSeconds(),2)
            
            if(Hours >= 12){
                amPm = "PM";
                Hours = addZeros(Hours-12,2)
            }

            clock.html(year+" / "+day+"<br />"+amPm+" "+Hours + " : " + Minutes + " : " + Seconds)
            
            setTimeout("printClock()",1000);

        }
        function addZeros(num, digit) { // 자릿수 맞춰주기
              var zero = '';
              num = num.toString();
              if (num.length < digit) {
                for (i = 0; i < digit - num.length; i++) {
                  zero += '0';
                }
              }
              return zero + num;
        }
    </script>
    <style>
        #time{float: left;border: 2px solid white;border-radius: 30px;text-align: center;width: 150px;margin-top: 10px;color: white;}
        .container {padding: 0px;}
        .row {padding: 0px;margin: 0px;}
        html,body {margin:0;padding:0;height:100%;}
        #wrapper {position:relative;min-height:100%;}
        header {height:70px;}
        #footer {position:absolute;bottom:0;width:100%;height:70px;background:#ccc;}
        .container {.clearfix();}
        .container {width: 1200px;.center-block();}
    </style>
</head>
<body>
    <div id="wrapper">
        <header style="background-color: #cee2f9">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div style='float: left; width: 87%;'>
                        <a class="navbar-brand" href="#" style='line-height: 50px;font-weight: 700;color: white;'>M-Tag</a>    
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    
                    <div>
                        <form method="POST" action="/login/logout" >
                            <input type="submit" value="LogOut" style="line-height: 58px;font-size: 1.25rem;font-weight: 700;border:0;background-color: #cee2f9 ;cursor:pointer; color:white; float: right;margin-left: 10px;">
                        </form>  
                    </div>
                    <div id="time" style='float: right'></div>
                </div>
            </div>
        </header>  
        <main>
            <div class="container">
                <%- body %>
            </div>
        </main>
        <footer>
            <div class="row">
                <div id="footer" class="col-xs-12" style="background-color: #cee2f9">5</div>
            </div>
        </footer>
        <%- script %>
    </div>
</body>
</html>  

